<h1>Listado de episodios</h1>
    
<div class="mdc-data-table">
    <div class="mdc-data-table__table-container">
      <table class="mdc-data-table__table" id="table" aria-label="Dessert calories">
        <thead>
          <tr class="mdc-data-table__header-row">
            <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Id</th>
            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Nombre</th>
            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Fecha de lanzamiento</th>
            <th class="mdc-data-table__header-cell mdc-data-table__header-cell--numeric" role="columnheader" scope="col">Episodio #</th>
          </tr>
        </thead>
        <tbody  class="mdc-data-table__content">
          <tr *ngFor="let ep of episodios; let i = index"  class="mdc-data-table__row">
            <th class="mdc-data-table__cell" scope="row">
                {{ep.id}}</th>
            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
                {{ep.name}}</td>
            <td class="mdc-data-table__cell mdc-data-table__cell--numeric">
                {{i}}{{ep.air_date}}</td>
            <td class="mdc-data-table__cell">
                
          {{i}}{{ep.episode}}
            </td>
          </tr>
            </tbody>
      </table>
    </div>
  </div>

