
<h2>Formulario de registro</h2>
<p>Bienvenido {{nombre.value}}</p>
<div class="container">
    <form class="col s12" action="#" >
      <div class="row">
        <div class="input-field col s6">
            <label for="nombre">Nombre</label>

            <input [formControl]="nombre" placeholder="Placeholder" id="nombre" type="text" class="validate">
        </div>
        <div class="input-field col s6">
            <label for="apellido">Apellido</label>

            <input [formControl]="apellido" id="apellido" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <label for="docident">Documento de identidad</label>

            <input  [formControl]="docident" type="text" value="" id="docident" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <label for="email">Email</label>

            <input [formControl]="email" type="email" value="" id="email" type="text" class="validate">
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
          <label for="clave">Clave</label>

          <input [formControl]="clave" id="clave" type="password" class="validate">
        </div>
      </div>
      <input style="visibility: hidden;" [formControl]="cia"  type="text" name="cia" value="10">

      <div class="row">
          <div class="input-field col s12">
        <button (click) ="registrarse()" class="waves-effect waves-light btn">Registrarse</button>
          </div>   
      </div>

    </form>
  </div>