<h2>Formulario de ingreso</h2>
<p>Bienvenido nuevamente {{username.value}}</p>

<div class="row">
    <form class="col s12" action="#" >
      <div class="row">
        <div class="input-field col s12">
            <label for="username">usuario</label>

            <input [formControl]="username" type="username" value="" id="username" type="text" class="validate">
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s12">
            <label for="password">Clave</label>
            <input [formControl]="password" id="password" type="password" class="validate">
          
        </div>
      </div>
      <input style="visibility: hidden;" type="text" [formControl]="companyId" value="10" >
      <input style="visibility: hidden;" type="text" [formControl]="desdeMs" value="true" >
      <div class="row">
          <div class="input-field col s12">
        <button (click) ="login()" class="waves-effect waves-light btn">Registrarse</button>
          </div>   
      </div>

    </form>
  </div>